{% load form_tags %}

{% csrf_token %}
{% form_non_field_errors form %}
{% for field in form %}
<div class="input-field">
    {% form_field field %}
    {% form_field_label field %}
</div>
{% if field.help_text %}
<span class="form-help-text mb-5">{{ field.help_text|safe}}</span>
{% endif %}
{% endfor %}
