{% extends "core/containers/simple_form_base.html" %}

{% block form_title %}Login{% endblock form_title %}

{% block form %}{% include "core/utilities/render_form_fields.html" %}{% endblock %}

{% block actions %}
<button type="submit" class="teal-text teal-lighten-2 btn-flat btn-large">Login</button>
<a href="{% url 'register' %}" class="yellow-text btn-flat btm-large">Register</a>
{% endblock actions %}