{% extends "core/containers/simple_form_base.html" %}

{% block form_title %}Register{% endblock form_title %}

{% block form %}{% include "core/utilities/render_form_fields.html" %}{% endblock %}

{% block actions %}
<button type="submit" class="teal-text teal-lighten-2 btn-flat btn-large">Register</button>
<a href="{% url 'login' %}" class="yellow-text btn-flat btm-large">Login</a>
{% endblock actions %}