{% extends "core/containers/materialize_base.html" %}
{% load blog_custom_tags %}
{% load static %}

{% block css %}
{{ block.super }}
<link href="{% static "core/css/hilite.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="post-header">
    <div class="container">
        <div class="row mb-0 pt-24">
            <h5 class="mb-0">{{ object.headline }}</h4>
        </div>
        <div class="row valign-wrapper">
            <div class="col s1 center-align hide-on-med-and-down">
                <img class="circle" src="{% user_gravatar_url object.feed.user 35 %}">
            </div>
            <div class="col l11">
                <p class="row article-meta">
                    <span class="left">
                        {{ object.created|timesince }} ago<br />
                        By <a href="{% url 'feed:user' username=object.feed.user.username %}">
                            {{ object.feed.user.username }}
                        </a>
                        in <a href="{% url 'feed:user-feed' username=object.feed.user.username feedslug=object.feed.slug %}">
                            {{ object.feed.name }}
                        </a> 
                    </span>
                    <span class="right">
                        {% if not object.published %}
                            <a class="btn disabled btn-small">draft</a>
                        {% endif %}
                        {% if request.user == object.feed.user %}
                        <a href="{% url 'blog:article:edit' username=object.feed.user.username feedslug=object.feed.slug slug=object.slug %}"
                           class="btn btn-small">Edit</a>
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col s12 m10 l8 offset-m1 offset-l2">
            
            {{ object.article.html|safe }}

            <div class="row section mt-0">
                {% for tag in object.tags.all %}
                <a class="left chip btn-small" data-badge-caption="">{{ tag.name }}</a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="divider"></div>

<!-- disqus -->
{% endblock content %}