{% load blog_custom_tags %}
{% load navigation_tags %}

<div class="row">
    <div class="">
        <div class="card article-summary-card hoverable">
            <div class="card-content">
                <h2 class="card-title"><a href="{{ entry.article.permalink }}">{{ entry.headline }}</a></h2>
                <div class="row">
                    <div class="valign-wrapper">
                        <div class="col s1 pr-0 right-align hide-on-med-and-down">
                            <img class="circle" src="{% user_gravatar_url entry.feed.user 30 %}">
                        </div>
                        <div class="col m12 l11">
                            <p class="row article-meta">
                                <span class="left">
                                    {{ entry.created|timesince }} ago<br />
                                    by <a href="{% url 'feed:user' username=entry.feed.user.username %}">{{ entry.feed.user.username }}</a>
                                    in <a href="{% url 'feed:user-feed' username=entry.feed.user.username feedslug=entry.feed.slug %}">{{ entry.feed.name }}</a> 
                                </span>
                                {% if not entry.published %}
                                <span class="right">
                                    <a class="btn disabled btn-small">draft</a>
                                </span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <p class="row">
                    {{ entry.article.summary }}
                </p>
                <p class="row section">
                    {% for tag in entry.tags.all %}
                    <a class="left chip btn-small" data-badge-caption="">{{ tag.name }}</a>
                    {% endfor %}
                </p>
                <p class="row section">
                    <span class="valign-center">
                        <i class="material-icons">star_border</i><span>&nbsp;{% article_lightbulb_count entry %}&nbsp;&nbsp;</span>
                        <i class="material-icons">comment</i><span>&nbsp;{% article_lightbulb_count entry %}</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>