<html>
    <head>
        <title>{% block subtitle %}{% endblock %} - jhackshaw</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block page_body %}{% endblock page_body %}

        {% block scripts %}{% endblock %}
    </body>
</html>