{% extends "core/containers/user_menu_base.html" %}

{% block main_content %}
    {% if user.is_active %}
        <div class="col m12 l6 offset-l2">
    {% else %}
        <div class="col m12 l8">
    {% endif %}
        {% block blog_content %}{% endblock %}
    </div>

    <div class="col m12 l3 offset-l1 side-menu-wrapper">
        {% include "core/elements/right_side_menu.html" %}
    </div>
{% endblock %}