{% extends "core/containers/base.html" %}
{% load static %}

{% block page_body %}
    {% include "core/elements/navbar.html" %}
    
    <main>
        {% block content %}{% endblock content %}
    </main>
    
    {% include "core/elements/footer.html" %}
{% endblock page_body %}


{% block css %}
{{ super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="{% static "core/css/global.css" %}" rel="stylesheet">
{% endblock css %}

{% block scripts %}
{{ super }}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://use.fontawesome.com/d3f6119c18.js"></script>
<script type="text/javascript" src="{% static "core/js/global.js" %}"></script>
{% endblock scripts %} 