{% extends "core/containers/materialize_base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 l6 offset-l3 offset-m2">
            <div class="card auth-form-card">
                <div class="card-panel teal">
                    <span class="card-title white-text">
                        <span clas="center-align">
                            {% block form_title %}{% endblock form_title %}
                        </span>
                    </span>
                </div>

                <form method="POST">
                    <div class="card-content auth-form-card-content">
                        <div class="row">
                            {% block form %}{% endblock form %}
                        </div>
                    </div>
                    <div class="card-action">
                        {% block actions %}{% endblock actions %}
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}