{% extends "core/containers/materialize_base.html" %}

{% block content %}
<div class="container">
    <div class="row">

        {% if user.is_active %}
            <div class="col hide-on-med-and-down s2 side-menu-wrapper fixed-top">
                {% include "core/elements/left_side_menu.html" %}
            </div>
        {% endif %}

        {% block main_content %}{% endblock %}


    </div>
</div>
{% endblock %}