<ul class="collection">
    {% for notification in object_list %}
    <li id="notification_{{ notification.id }}" class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <h5 class="title mr-10">{{ notification.text }}</h5>
        <a href="javascript:deleteNotification({{ notification.pk }})" class="secondary-content">
            <i class="material-icons red-text">delete</i>
        </a>
    </li>
    {% endfor %}
</ul>