{% extends "core/containers/user_menu_base.html" %}

{% block main_content %}
    <div class="col l10 offset-l2">
    
        {% include "user/notifications.html" with notifications=obj %}
    
        {% if is_paginated %}
            {% include 'core/elements/pagination.html' %}
        {% endif %}
        <div class="divider hide-on-large-only"></div>
    </div>
{% endblock %}