{% extends "core/containers/main_page_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col l3 hide-on-med-and-down fixed-top">
            <div class="profile-card card hoverable">
                <div class="card-content center-align">
                    {% if user.is_active and user == profile_of %}
                    <div class="row">
                        <a href='{% url 'user:profile-edit' username=profile_of.username %}'
                            class="btn btn-small left">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                    {% endif %}
                    <div class="row">
                        <h3 class="user-username">{{ profile_of.username }}</h3>
                    </div>
                    <div class="row">
                        {{ profile_of.about_me }}
                    </div>
                    <img class="responsive-img circle" src="{{ profile_of.gravatar_url }}">
                    <div class="row section">
                        <a href="{{ profile_of.linkedin_link }}" class="black-text ml-5" href="">
                            <i class="fa fa-lg fa-linkedin"></i>
                        </a>
                        <a href="{{ profile_of.github_link }}" class="black-text ml-5" href="">
                            <i class="fa fa-lg fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 hide-on-large-only">
            <div class="profile-card card hoverable">
                <div class="card-content center-align">
                    {% if user.is_active and user == profile_of %}
                    <div class="row">
                        <a href='{% url 'user:profile-edit' username=profile_of.username %}'
                            class="btn btn-small left">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                    {% endif %}
                    <div class="row">
                        <h3 class="user-username">{{ profile_of.username }}</h3>
                    </div>
                    <div class="row">
                        {{ profile_of.about_me }}
                    </div>
                    <img class="responsive-img circle" src="{{ profile_of.gravatar_url }}">
                    <div class="row section">
                        <a class="black-text ml-5" href=""><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="black-text ml-5" href=""><i class="fa fa-lg fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l8 offset-l5 m12">
            <h4 class="title">Top Posts</h4>
            {% for obj in profile_of.get_top_posts %}
                {% include obj.child_object.short_entry_template with entry=obj %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock css %}2