{% extends "core/containers/simple_form_base.html" %}

{% block form_title %}Update{% endblock form_title %}

{% block form %}{% include "core/utilities/render_form_fields.html" %}{% endblock %}

{% block actions %}
<button type="submit" class="teal-text teal-lighten-2 btn-flat btn-large">Update</button>
<a href='{% url 'user:profile' username=user.username %}' class="yellow-text btn-flat btm-large">Cancel</a>
{% endblock actions %}