<div class="profile-card card hoverable">
    {% if user and user == profile_of %}
    <a href='{% url 'user:profile-edit' username=profile_of.username %}' class="edit-profile-btn btn-floating waves-effect waves-light red right"><i class="material-icons">edit</i></a>
    {% endif %}
    <div class="card-content center-align">
        <h3 class="user-username">{{ profile_of.username }}</h3>
        <img class="responsive-img circle" src="{{ profile_of.gravatar_url }}">
        <span class="user-about-me">{{ profile_of.about_me }}</span>
    </div>

</div>