{% extends "core/containers/main_page_base.html" %}

{% block blog_content %}
            {% if form %}
            <div class="row">
                <div class="card-panel create-feed-panel">
                    <form method="POST">
                        <div class="row">
                            <div class="col s12">
                                {% include "core/utilities/render_form_fields.html" %}
                            </div>
                            <div class="col s12">
                                <button type="submit" class="waves-effect waves-light btn">Create Feed</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            {% endif %}

            {% for feed in feeds.object_list %}
                {% include "feed/feed_summary.html" with feed=feed %}
            {% endfor %}
        
            {% include 'core/elements/pagination.html' with page_obj=feeds %}
{% endblock %}