{% load blog_custom_tags %}
{% load navigation_tags %}

<div class="row">
    <div class="card-panel post-summary-panel">
        <div class="valign-wrapper">
            <div class="col s2">
                <img src="{% user_gravatar_url feed.user 50 %}" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <!-- <i class="material-icons circle tiny">trending_up</i> -->
                <span class="card-title">
                    <a href="{% url 'feed:user-feed' username=feed.user.username feedslug=feed.slug %}" 
                       class="">{{ feed.name }}</a>
                </span><br />
                <span class="feed-details-subheader">by {{ feed.user.username }}</span>
                
            </div>
            <div class="col s2">
                <span class="btn-floating disabled center-align">{{ feed.entries.count }}</span>
            </div>
        </div>
        <div class="row pt-12">
            <div class="col s8 offset-s2">
                {% for tag in feed.tags.all %}
                <a href="?{% replace_url_params tag=tag.slug %}" class="left chip btn-small" data-badge-caption="">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>