{% extends "core/containers/main_page_base.html" %}

{% block blog_content %}
    <div class="row">
        <div class="col s12">
            {% if feed_object %}
                {% include "feed/feed_summary.html" with feed=feed_object %}
            {% elif feed_user %}
                {% include "feed/user_summary.html" with user=feed_user count=paginator.count %}
            {% endif %}
        
            {% for obj in object_list %}
                {% include obj.child_object.short_entry_template with entry=obj %}
            {% endfor %}
        
            {% if is_paginated %}
                {% include 'core/elements/pagination.html' %}
            {% endif %}
            <div class="divider hide-on-large-only"></div>
        </div>
    </div>
{% endblock %}