{% load blog_custom_tags %}
{% load navigation_tags %}

<div class="row">
    <div class="card-panel">
        <div class="valign-wrapper">
            <div class="col s2">
                <img src="{% user_gravatar_url user 50 %}" alt="" class="circle responsive-img">
            </div>
            <div class="col s8">

                <span class="card-title">
                    <a href="{% url 'feed:user' username=user.username %}" 
                        class="">{{ user.username }}</a>
                </span><br />
                
            </div>
            <div class="col s2">
                <span class="btn-floating disabled center-align">{{ count }}</span>
            </div>
        </div>
    </div>
</div>