div.post-title {
    color: gray;
    padding-left: 0 !important;
}

.post-summary {
    padding-left: 0 !important;
}

.post-summary-card {
    height: auto;
}

.post-meta > span { 
    font-size: x-small;
    color: gray;
}

.tag {
    margin: 1px 1px 1px 1px;
}

.card-title > a {
    color: #646262;
    font-size: 1.5em;
}

.card-title > a:hover {
    text-decoration: underline;
}

.card-content {
    padding-bottom: 0 !important;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 5px !important;
}

.card-action {
    padding: 8px 0 8px 8px !important;
}

