<footer class="page-footer pt-0 transparent">
    <div class="footer-copyright">
        <div class="container black-text">
            © 2017 SemperPy
            <a class="black-text text-lighten-4 right fa fa-gitlab ml-5" href="#!"></a>
            <a class="black-text text-lighten-4 right fa fa-youtube ml-5" href="#!"></a>
            <a class="black-text text-lighten-4 right fa fa-reddit-alien ml-5" href="#!"></a>
            <a class="black-text text-lighten-4 right fa fa-linkedin ml-5" href="#!"></a>
        </div>
    </div>
</footer>