{% load blog_custom_tags %}

{% if user.is_active %}
<div class="row section side-menu-user">
    <div class="col s2 right-align">
        <img class="circle" src="{% user_gravatar_url user 18 %}">
    </div>
    <div class="col s10 side-menu-item">
        <a href="{% url 'user:profile' username=user.username %}">{{ user.username }}</a>
    </div>
</div>

<div class="row">
    <div class="row side-menu-entry valign-wrapper">
        <div class="col s2 right-align">
            <i class="material-icons circle tiny">person</i>
        </div>
        <div class="col s10 side-menu-item">
            <a href="{% url 'user:profile' username=user.username %}">account</a>
        </div>
    </div>
    <div class="row side-menu-entry valign-wrapper">
        <div class="col s2 right-align">
            <i class="material-icons circle tiny">view_list</i>
        </div>
        <div class="col s10 side-menu-item">
            <a href="{% url 'feed:user' username=user.username %}">posts</a>
        </div>
    </div>
    <div class="row side-menu-entry valign-wrapper">
        <div class="col s2 right-align">
            <i class="material-icons circle tiny">star</i>
        </div>
        <div class="col s10 side-menu-item">
            <a href="{% url 'user:profile' username=user.username %}">favorites</a>
        </div>
    </div>
    <div class="row side-menu-entry valign-wrapper">
        <div class="col s2 right-align">
            <i class="material-icons circle tiny">rss_feed</i>
        </div>
        <div class="col s10 side-menu-item">
            <a href="{% url 'feed:user-feed-list' username=user.username %}">feeds</a>
        </div>
    </div>
    <div class="row side-menu-entry valign-wrapper">
        <div class="col s2 right-align">
            <i class="material-icons circle tiny">edit</i>
        </div>
        <div class="col s10 side-menu-item">
            <a href="{% url 'feed:drafts' %}">drafts</a>
        </div>
    </div>
</div>
{% endif %}
