<ul id="account_dropdown" class="dropdown-content">
    {% if user.is_active %}
        <li><a href="{{ user.profile_url }}">Profile</a></li>
        {% if user.is_admin %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
</ul>

<ul id="create_dropdown" class="dropdown-content">
    <li><a href="{% url 'blog:article:create' %}">Article</a></li>
    <li><a href="{% url 'blog:article:create' %}">Question</a></li>
    <li><a href="{% url 'blog:article:create' %}">Survey</a></li>
</ul>


<div class="navbar-fixed">
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="hide-on-med-and-down">
                    <li><a href="{% url 'feed:overview' %}"><i class="material-icons left">home</i> Feed</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    {% if user.is_active %}
                    <li><a href="{% url 'user:notifications' %}">
                        Notifications
                        <i class="fa fa-bell-o fa-lg right"></i></a></li>
                    {% endif %}

                    <li><a class="dropdown-button" href="#!" data-activates="create_dropdown">Create
                        <i class="material-icons right">edit</i></a></li>

                    {% if user.is_active %}
                    <li><a class="dropdown-button" href="#!" data-activates="account_dropdown">Settings
                        <i class="material-icons right">settings</i></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login
                        <i class="material-icons right">person</i></a></li>
                    {% endif %}
                </ul>
            </div>

            <ul class="side-nav" id="mobile-demo">
                <li><i class="material-icons left">home</i><a href="{% url 'feed:overview' %}">Feed</a></li>
                <li class="divider"></li>
                {% if user.is_active %}
                    <li><a href="{{ user.profile_url }}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>