{% load navigation_tags %}

<ul class="pagination center-align">
    <li><a href="?{% replace_url_params page=1 %}"><i class="material-icons">skip_previous</i></a></li>
    {% if page_obj.has_previous %}
    <li><a href="?{% replace_url_params page=page_obj.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    <li class="active"><a href="?{% replace_url_params page=page_obj.number %}">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li><a href="?{% replace_url_params page=page_obj.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
    <li class="waves-effect"><a href="?{% replace_url_params page=page_obj.paginator.num_pages %}"><i class="material-icons">skip_next</i></a></li>
</ul>
                