{% load blog_custom_tags %}

<div class="row">
    <div class="col s12 m6 l12">
        <!-- Other feeds by the currently viewing user -->
        {% if feed_user %}
        <div class="row section side-menu-user">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <img class="responsive-img circle" src="{% user_gravatar_url feed_user 20 %}">
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item">
                    <a href="{% url 'feed:user-feed-list' username=feed_user.username %}" style="color:black;">
                        Other feeds by {{ feed_user.username }}
                    </a>
                </div>
            </div>
        </div>

        {% for feed in feed_user.feeds.all|slice:"4" %}
        <div class="row side-menu-entry">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <i class="material-icons circle tiny">keyboard_arrow_right</i>
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item">
                    <a href="{% url 'feed:user-feed' username=feed_user.username feedslug=feed.slug %}">
                        {{ feed.name }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row side-menu-entry">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <i class="material-icons circle tiny">keyboard_arrow_right</i>
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item">
                    <a href="{% url 'feed:user-feed-list' username=feed_user.username %}">
                        more
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- end other feeds  -->
    </div>

    <div class="col s12 m6 l12">
        <!-- popular tags -->
        <div class="row section side-menu-user">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <i class="material-icons circle tiny">local_offer</i>
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item">
                    <span>Popular Tags</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                {% for tag in popular_tags %}
                <a href="{% url 'feed:overview' %}?tag={{ tag.slug }}" class="left chip btn-small" data-badge-caption="">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- end popular tags -->
    </div>

    <div class="col s12 m6 l12">
        <!-- popular feeds -->
        <div class="row section side-menu-user">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <i class="material-icons circle tiny">trending_up</i>
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item">
                    <span>Popular Feeds</span>
                </div>
            </div>
        </div>
        
        {% for feed in popular_feeds %}
        <div class="row side-menu-entry">
            <div class="valign-wrapper">
                <div class="col s2 right-align hide-on-med-and-down">
                    <i class="material-icons circle tiny">keyboard_arrow_right</i>
                </div>
                <div class="col l10 m11 offset-m1 side-menu-item ">
                    <a href="{% url 'feed:user-feed' username=feed.user.username feedslug=feed.slug %}">
                        {{ feed.name }}
                    </a><br />by {{ feed.user.username }}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end popular feeds -->
    </div>
</div>


