body {
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 36px;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: x-small;
}

.notifications {
    white-space: nowrap;
    width: 40% !important;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.ml-5 {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 30px !important;
}

.mb-4 {}

.pt-24 {
    padding-top: 24px;
}

.pt-12 {
    padding-top: 8px;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.post-header {
}

.post-header-details-item {
    white-space: nowrap;
    font-size: smaller;
}

.post-header-details-item + .post-header-details-item {
    margin-left: 5px;
}

.chip {
}

.create-feed-panel {
    height:150px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.popular-tags-section {
    padding-left: 0 !important;
}

.post-summary-panel {
    padding-bottom: 8px;
}

.auth-form-card {
    margin-top: 48px;
}

.auth-form-card-content {
    min-height: 300px;
}

.errorlist > li {
    color: red;
}

.profile-card {
    margin-top: 48px;
}

.edit-profile-btn {
    margin: 5px 5px 5px 5px;
    position: absolute;
}

.materialize-textarea {
    margin-top: 5px;
}

div.article-title {
    color: gray;
    padding-left: 0 !important;
}

.article-summary {
    padding-left: 0 !important;
}

.article-summary-card {
    height: auto;
}

.article-meta > span { 
    font-size: x-small;
    color: gray;
}

.card-title > a {
    color: #646262;
    font-size: 1.3em;
}

.card-title > a:hover {
    text-decoration: underline;
}

.article-summary-card > .card-content {
    padding-bottom: 0 !important;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 5px !important;
}

.card-action {
    padding: 8px 0 8px 8px !important;
}

.side-menu-wrapper {
    padding: 8px 15px 8px 0;
}

.right-side-menu-wrapper {
    padding: 8px 0 8px 15px;
}

.side-menu-item {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.side-menu-item > a {
    color: gray;
}

.side-menu-item > a:hover {
    text-decoration: underline;
}

.side-menu-entry {
    margin-bottom: 5px !important;
    font-size: small;
}

.side-menu-user {
    margin-bottom: 0 !important;
}

.feed-details-header {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.tabs-fixed-width {
    font-size: 1.3em;
    margin: 15px 0 15px 0;
    overflow: hidden;
}

.fixed-top {
    position: fixed;
}

.form-help-text {
    font-size: smaller;
    color: lightgray;
}