{% extends "core/containers/materialize_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col m12 l10 offset-l1">
            <div class="card auth-form-card">
                <div class="card-panel teal">
                    <span class="card-title white-text">
                        <span clas="center-align">
                            Article
                        </span>
                    </span>
                </div>

                <form method="POST">
                    <div class="card-content auth-form-card-content">
                        <div class="row">
                            {% include "core/utilities/render_form_fields.html" %}
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="teal-text teal-lighten-2 btn-flat btn-large">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
